<form>
  <div class="form-group">
    <label for="empID">ID</label>

    <input type="number" class="form-control" id="empID" placeholder="employee Id" #addId [value]="employee.length+1">

    <label for="Name">Name</label>
    
    <input type="text" class="form-control" id="empName" #addName placeholder="Name">

    <label for="email">email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" #addEmail>
    <label for="designation">Designation</label>
    <input type="text" class="form-control" id="designation" placeholder="Designation" #addDesignation><br>
    <button type="button" class="btn btn-primary"
      (click)="addData(addId.value,addName.value,addEmail.value,addDesignation.value)">Add</button>
  </div>
</form>